<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-sm float-end mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--  <i class="fa-solid fa-file-circle-plus" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>-->
<!--</button>-->
<i class="fa-solid fa-file-circle-plus float-end mx-2 text-success" id="addTaskBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

         <!-- form infos and errors -->
          <div class="alert alert-danger text-center" *ngIf="error">
            {{error}}
          </div>

          <div class="alert alert-info" *ngIf="info">
            {{info}}
          </div>
        <!-- end of infos and errors -->

        <form method="post" (ngSubmit)="onAddTaskFormSubmit()">
          <div>
            <label for="title">Title</label>
            <input type="text"
                   name="title"
                   id="title"
                   class="form-control"
                   placeholder="e.g. Buying groceries"
                   [(ngModel)]="task.title">
          </div>

          <div>
            <label for="body" class="mt-2">Body</label>
            <textarea name="body"
                      id="body"
                      class='form-control'
                      placeholder="Task Description"
                      [(ngModel)]="task.body"></textarea>
          </div>

          <div class="my-2">
            <input type="submit"
                   value="Add"
                   class="btn btn-success my-3">
          </div>
        </form>
<!--        <button class="btn btn-sm btn-danger float-end" data-bs-dismiss="modal">-->
<!--          close-->
<!--        </button>-->
      </div>
    </div>
  </div>
</div>


<div class="list-group my-2" *ngIf="tasks">
  <a *ngFor="let task of tasks" href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.title}}</h5>
      <small>
        <i class="fa-solid fa-angle-right"></i>
      </small>
    </div>
    <p class="my-3 px-3">{{task.body}}</p>
    <small class="text-muted">
        <i class="fa-regular fa-calendar-check mr-3"></i>
        {{task.createdAt | date: "dd-mm-YYYY | HH:mm:ss"}}
    </small>
<!--    <button class="btn btn-sm btn-success float-end" title="Mark as Completed" (click)="updateTaskStatus(task._id, $event)">-->
      <i class="fa-regular fa-square-check float-end text-success" (click)="updateTaskStatus(task._id, $event)"></i>
<!--    </button>-->
  </a>
</div>

<div class="text-muted text-center" *ngIf="tasks?.length===0">
  <p>--- no {{taskStatus}} found ---</p>
</div>

