<div class="row my-5">
  <div class="col-12 col-md-6 offset-md-3 mt-5">
    <div class="alert bg-danger text-center text-white my-2" *ngIf="error">
      {{error}}
    </div>

    <div class="alert bg-success text-white text-center my-2" *ngIf="info">
      {{info}}
    </div>

    <div>
      <p class="display-6">{{task?.title}}</p>
      <span class="text-muted m-2">
        {{task?.createdAt | date: 'dd-MM-yyyy hh:mm:ss a'}}
      </span>
      <span class="float-end text-muted mx-2" *ngIf="!status">
        {{task?.status}}
      </span>

      <span class="float-end text-muted mx-2" *ngIf="status">
        {{status}}
      </span>
    </div>

    <div class="border rounded p-3">
      <p>{{task?.body}}</p>
    </div>

    <div class="text-muted my-2">
      <a class="float-end" (click)="markAsDone(task)">
        <i class="fa-solid fa-circle-check"></i> MarkAsDone
      </a>

      <a class="float-start" (click)="seeAllTasks()">
        <i class="fa-solid fa-circle-chevron-left"></i> SeeAllTasks
      </a>
    </div>
  </div>
</div>

