<div class="alert alert-success" *ngIf="info">
  {{info}}
</div>

<div class="alert alert-error" *ngIf="error">
  {{error}}
</div>

<div class="list-group my-2" *ngIf="tasks">
  <a *ngFor="let task of tasks" href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.title}}</h5>
      <small>
        <i class="fa-solid fa-angle-right"></i>
      </small>
    </div>
    <p class="my-3 px-3">{{task.body}}</p>
    <small class="text-muted">
        <i class="fa-regular fa-calendar-check mr-3"></i>
        {{task.createdAt | date: "dd-mm-YYYY | HH:mm:ss"}}
    </small>
<!--    <button class="btn btn-sm btn-success float-end" title="Mark as Completed">-->
      <i class="fa-regular fa-square-check float-end"></i>
<!--    </button>-->
  </a>
</div>
