<div class="row mt-5">
  <div class="col-12 col-md-4 offset-md-4">
    <div class="my-5">
      <div class="text-center">
        <div class="">
          <img ngSrc="../../assets/images/incons.png"
               alt="icon"
               height="80"
               width="80"
               priority="true">
        </div>
        <div class="mb-2">
          <h4 class="mean-todo-primary-text-color display-6">MeanTodo</h4>
        </div>
      </div>
      <!--The form body -->
          <div class="mx-5 p-4 bg-light border">
             <div class="alert alert-danger text-center" *ngIf="formErrors">
                {{formErrors}}
              </div>
            <form (ngSubmit)="onLoginSubmit()">
              <div class="mx-3">
                  <div class="mt-2">
                    <label class="mb-2" for="email">Email</label>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control"
                           placeholder="e.g user@domain.com"
                           [(ngModel)]="credentials.email">
                  </div>

                  <div class="my-2">
                    <label class="mb-2" for="password">Password</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="superSecretPassword"
                           [(ngModel)]="credentials.password">
                  </div>
                  <div class="mt-4 float">
                    <input type="submit"
                           class="btn btn-success bd-block w-100"
                           value="Sign in">
                  </div>
              </div>
            </form>
          </div>
      <!-- The end of the form body -->
      </div>
  </div>
</div>
