<div class="mt-5">
  <h4 class="mb-2"><i class="fas fa-tasks me-2"></i>
    {{content}}
  </h4>
  <i id="logoutBtn" class="fa-solid fa-right-from-bracket float-end mx-2 text-danger" (click)="doLogout()"></i>
</div>
