<div class="row">
  <div class="container">
    <div class="col-12 col-md-8 offset-md-2">
      <app-header [content]="content.header"></app-header>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Up-Coming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/on-progress">On-Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/completed">Completed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/home/cancelled" tabindex="-1" aria-disabled="true">Cancelled</a>
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
